[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = git@github.com:jlanzarotta/bufexplorer.git
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule "bundle/mru"]
	path = bundle/mru
	url = git@github.com:yegappan/mru.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/paredit.vim"]
	path = bundle/paredit.vim
	url = git@github.com:vim-scripts/paredit.vim.git
[submodule "bundle/rainbow_parentheses.vim"]
	path = bundle/rainbow_parentheses.vim
	url = git@github.com:kien/rainbow_parentheses.vim.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = git@github.com:tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = git@github.com:MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "bundle/vim-expand-region"]
	path = bundle/vim-expand-region
	url = git@github.com:terryma/vim-expand-region.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git@github.com:plasticboy/vim-markdown.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git@github.com:vim-syntastic/syntastic
[submodule "bundle/EasyMotion"]
	path = bundle/EasyMotion
	url = git@github.com:vim-scripts/EasyMotion
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "bundle/rust.vim"]
	path = bundle/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = git@github.com:mileszs/ack.vim.git
